.miscellaneous
**/target/*
*private.sql
*/target/**
*.settings
*.classpath
*.project
*.tmp
*.sw?
.#*
*#
*~
*/bin
build
dependency-reduced-pom.xml
*.sublime-*
/scratch
*.gradle
*EADME.html
*.iml
*.idea
/miscellaneous/*
*.log
**/Servers/*
*.recomenders
.recomenders/*
**/.recomenders/*
**/.recommenders/*
**/.metadata/*
*.factorypath
*.log
/.metadata/
/.recommenders/
bugalu-app/bugalu-rest-client/upload-dir/*
resources/GoogleNews-vectors-negative300.txt
Code/microservices/git-localconfig-repo
**/git-localconfig-repo/
